Options -Indexes
RewriteEngine On

# If the requested thing is a real file/dir in project root, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, send everything into /public
RewriteRule ^(.*)$ public/$1 [L]
