RewriteEngine On
RewriteBase /cityevents/

# Don't rewrite real files/folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Send everything except /public to /public
RewriteRule !^public/ public/$0 [L]
