Options -Indexes
RewriteEngine On

RewriteBase /cityevents/public/

# Serve real files/folders directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Everything else -> /public/index.php
RewriteRule ^ index.php [L,QSA]
